body {
  @include fluid-text(18, 16);

  color: var(--color-grey-text);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:var(--color-dark)
}

.container {
  margin-inline: auto;
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding-x);
}

a {
  text-decoration: none;
  transition-duration: var(--duration);

  @include hover {
    color: var(--color-light-text-hover);
  }
}

