:root {
    --container-max-width: 1280px;
    --container-padding-x:40px;

  --color-dark: #000000;
  --color-dark-alt: #312f2f;
  --color-light:#f4f4f4;

  --color-grey-text: #e0dbdb;
  --color-light-text-hover:#ffffff;
  --color-dark-text-hover: #2f2f2f;

  --color-grey-icon: #919191;

  --duration:0.2s;

}