@import "../../styles/styles";

.header {

  background-color: var(--color-dark);
  padding:18px;

  &__inner {
    composes: container;
  }

  &__nav {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }

  &__link_title {
    transition: var(--duration);

    @include hover {
      opacity: 0.8;
    }

    &[data-title_type="home"] {
      @include smoothUnderline
    }



  }
  &__title {
    font-size: 30px;
    display: inline;
    color: var(--color-light);
  }

  &__input {
    background-color: lightgray;
    border-radius: 4px;
    width: 300px;
  }

  &__link_list {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__link_item {
    color: var(--color-grey-text);
  }

  .active_link {

    background-color: transparent;
    transition: all 0.5s ease;



    &[data-title_type="home"] {

      &:after {
        @include smoothUnderlineActive
      }
    }

    &[data-title_type="nav"] {
      color:var(--color-light)
    }

  }

  &__button {
    background-color: var(--color-light) !important;
    color: var(--color-dark) !important;
    transition: all 0.2s ease !important;
    margin-left:auto !important;

    @include hover {
      opacity: 0.8;
    }
  }

  &__profile_btn {
    margin-left:auto !important;
  }

  &__profile_icon {
    color:white;
  }
}

