.movie {
  width: 250px;
  height: 350px;
  overflow: hidden;
  display: block;

  &__wrapper {

  }

  &__img {

  }

  &__rating {
    content: attr(data-rating);
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 5px;
    padding: 2px;
    color: var(--color-grey-text)

  }

  &__high_rating {
    background-color: var(--color-green-bg);
  }

  &__medium_rating {
    background-color: var(--color-yellow-bg);
  }

  &__low_rating {
    background-color: var(--color-red-bg);
  }
}